.App {
  text-align: center;
  padding-top: 1rem;
}

.App-link {
  color: #09d3ac;
}

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
.star-five {
  margin: 5px 0;
  position: relative;
  display: block;
  color: gold;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid gold;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}
.star-five:before {
  border-bottom: 8px solid gold;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -4.5px;
  left: -6.5px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-five:after {
  position: absolute;
  display: block;
  color: gold;
  top: 0.3px;
  left: -10.5px;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid gold;
  border-left: 10px solid transparent;
  transform: rotate(-70deg);
  content: '';
}